/* regole generali */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}
a{
    text-decoration: none;
}

/* regole header */


header{
    padding-top: 20px;
    background-image:url(../img/jumbo.png);
    background-size: cover;
    min-height: 600px;
    font-size: 30px;       
}

#logo{
    padding: 3%;
}

 nav ul {
    gap: 40px;
    display: flex;
    justify-content: center;
    list-style: none;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0% 10%;
}

.bottone{
   color: black;
   background-color: white;
   border-radius: 15px;
   padding: 0 3px;

}

.banner{
    text-align: center;
    color: white;
    margin:50px 30%;
    }

    .banner> p {
        margin-top: 30px;
    }

    .banner> a{
        margin: 30px 20px;
        display: inline-block;
        padding: 10px;
    }

    .bottone-inv{
        background-color: black;
        color: white;
    }

/* regole main */

.sfondo{
    display: flex;
    padding: 30px 15% ;
    justify-content: flex-start;
    align-items: center;
}

.testo> p{
    margin: 30px;
}

.img-home{
    /* debug */
    /* min-width: 1000px;
    min-height: 400px;
    background-color: rgb(9, 17, 1); */
}

.testo{
    /* debug */
    /* min-width: 300px;
    min-height: 400px;
    background-color: chartreuse; */
}

.grey{
    background-color: grey;
}

.reverse{
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#banner-bot{
   margin-left: 25%;
   text-align: center;
    /* height: 400px;
    width: 900px;
    background-color: darkorchid; */
} 

.sfondo-section{
    height: 500px;
    width: 100%;
    padding: 30px 15%;
}

footer{
    background-color: darkslategray;
    /* debug */
    /* min-height: 500px; */
}

/* regole footer */

footer{
    background-color: rgb(27, 26, 26);
    /* debug */
    /* min-height: 250px; */
}

.flex-footer{
    display: flex;
    margin-left:15%;
    gap: 30px;
}

#col-main{
    /* debug */
    /* min-width: 600px;
    background-color: darkslategrey; */

}
.col-foot{ 
    margin-top: 30px;
    align-items: center; 
    /* debug */
    /* background-color: rgb(112, 60, 22);
    min-height: 600px;
    min-width: 300px; */
}

#pie-pagina{
    margin: 30px 15%;
    /* debug */
    min-height: 100px;
    background-color: aqua;
}
